*
{
    margin: 0;
    padding: 0;
    transition: all .25s ease-in-out;
}

.row {
  max-width: 1170px;
}

header .row {
  max-width: 1230px;
}

header {
  width: 100%;
  height: 72px;
  overflow: hidden;
  position: relative;
  z-index: 999;
  background-color: rgba(252,252,252,1);
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; 
}

img.reg-logo {
  height: 48px;
  margin: 12px 0px 12px 0px;
}

.masthead-intro {
  background-image: url('http://nomful.com/img/intro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.masthead-grapefruit {
  background-image: url('../img/grapefruit2.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 700px;
  background-color: #Fff;
}

.masthead-asparagus {
  background-image: url('../img/purty_wood.jpg');
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  height: 850px;
}

.masthead-asparagus .masthead-content {
  
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right top;
}

.masthead-strawberry {
  background-image: url('http://nomful.com/img/strawberry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
}

.masthead-content {
  display: table;
  height: 100%;
}

.intro-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.asparagus-content  {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.asparagus-content h1, .asparagus-content h3 {
  color: #FCFCFC;
}

.intro-content h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #FCFCFC;
}

.intro-content h3 {
  color: #FCFCFC;
}

.grapefruit-content {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  margin-top: 50px;
}

.strawberry-content {
  display: table-cell;
  text-align: center;
  padding-top: 100px;
}

input[type="text"]#sp-website, input[type="phone"]#sp-phone { 
  display: none; 
}

input#join-email {
  width: 350px;
  font-size: 1.5rem;
  font-weight: 500;
  text-indent: 3px;
  padding: 5px;
  height: inherit;
  display: inline-block;
  border: solid 1px rgba(110, 177, 155, 1);
  border-radius: 3px;
  font-family: 'museo-sans-rounded', sans-serif;
  margin: 20px 8px;
  background: rgba(110, 177, 155, .1);
}

input[type="submit"], a.join-now-button {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'museo-sans-rounded', sans-serif;
  padding: 6px 20px;
  border: none;
  background-color: #6EB19B;
  color: #FCFCFC;
  border-radius: 3px;
  cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

a.join-now-button {
  display: block;
  width: inherit;
  margin: 20px auto 0px;
}

input[type="submit"]:hover, a.join-now-button:hover {
  background-color: rgba(85, 144, 124, 0.99);
}

form.email-form {
  margin: 20px 0px;
}


.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


h1, h2, h3, h4, h5, p {
  font-family: "museo-sans-rounded",sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 4rem;
  font-family: "museo-sans-rounded",sans-serif;
  font-weight: 500;
}

h3 {
  font-weight: 200;
}



.copyright p {
  font-size: .8rem;
  text-align: center;
  color: #313131;
}

footer {
  background-color: #6EB19B;
  padding: 20px 0 5px;
}



.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.mobile-hide, .tablet-hide {
  display: block;
}

.mobile-show, .tablet-show {
  display: none;
}

@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) {
  
  .tablet-hide {
    display: none;
  }
  
  .tablet-show {
    display: block;
  }
  
}

@media only screen and ( max-width: 980px ) {
  
  .mobile-hide {
    display: none;
  }
  
  .mobile-show {
    display: block;
  }

}

@media only screen and ( max-width: 767px ) {
  
  .mobile-hide {
    display: none;
  }
  
  .mobile-show {
    display: block;
  }

   .masthead-grapefruit {
    background-image: url('../img/grapefruit2.png');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 700px;
    background-color: #Fff;
  }
  
}

@media only screen and ( max-width: 479px ) {
  
  .mobile-hide {
    display: none;
  }
  
  .mobile-show {
    display: block;
  }

  .grapefruit-content {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 25px;
  }


 
}